/* LiveTrackingMap.css */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure it stays behind the Navbar/Popups */
}

.map-wrapper {
  margin-top: 20px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  border-radius: 15px;
  overflow: hidden;
}