.verify {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #bdbdbd;
    border-top-color: #ff4500; /* Your app theme color */
    border-radius: 50%;
    animation: rotate 1s infinite;
}

@keyframes rotate {
    to { transform: rotate(360deg); }
}